In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('HR-Employee-Attrition.csv')

In [21]:
len(df)

1470

In [18]:
df.drop('Attrition', axis = 1).select_dtypes('object')

,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobRole,JobSatisfaction,MaritalStatus,Over18,OverTime,PerformanceRating,RelationshipSatisfaction,WorkLifeBalance
0,Travel_Rarely,Sales,College,Life Sciences,Medium,Female,High,Sales Executive,Very High,Single,Y,Yes,Excellent,Low,Bad
1,Travel_Frequently,Research & Development,Below College,Life Sciences,High,Male,Medium,Research Scientist,Medium,Married,Y,No,Outstanding,Very High,Better
2,Travel_Rarely,Research & Development,College,Other,Very High,Male,Medium,Laboratory Technician,High,Single,Y,Yes,Excellent,Medium,Better
3,Travel_Frequently,Research & Development,Master,Life Sciences,Very High,Female,High,Research Scientist,High,Married,Y,Yes,Excellent,High,Better
4,Travel_Rarely,Research & Development,Below College,Medical,Low,Male,High,Laboratory Technician,Medium,Married,Y,No,Excellent,Very High,Better
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Travel_Frequently,Research & Development,College,Medical,High,Male,Very High,Laboratory Technician,Very High,Married,Y,No,Excellent,High,Better
1466,Travel_Rarely,Research & Development,Below College,Medical,Very High,Male,Medium,Healthcare Representative,Low,Married,Y,No,Excellent,Low,Better
1467,Travel_Rarely,Research & Development,Bacheolor,Life Sciences,Medium,Male,Very High,Manufacturing Director,Medium,Married,Y,Yes,Outstanding,Medium,Better
1468,Travel_Frequently,Sales,Bacheolor,Medical,Very High,Male,Medium,Sales Executive,Medium,Married,Y,No,Excellent,Very High,Good
1469,Travel_Rarely,Research & Development,Bacheolor,Medical,Medium,Male,Very High,Laboratory Technician,High,Married,Y,No,Excellent,Low,Best

In [20]:
X = pd.get_dummies(df.drop('Attrition', axis = 1))
y = df['Attrition']

,Unnamed: 0,Age,DailyRate,DistanceFromHome,EmployeeCount,EmployeeNumber,HourlyRate,JobLevel,MonthlyIncome,MonthlyRate,...,PerformanceRating_Excellent,PerformanceRating_Outstanding,RelationshipSatisfaction_High,RelationshipSatisfaction_Low,RelationshipSatisfaction_Medium,RelationshipSatisfaction_Very High,WorkLifeBalance_Bad,WorkLifeBalance_Best,WorkLifeBalance_Better,WorkLifeBalance_Good
0,0,41,1102,1,1,1,94,2,5993,19479,...,1,0,0,1,0,0,1,0,0,0
1,1,49,279,8,1,2,61,2,5130,24907,...,0,1,0,0,0,1,0,0,1,0
2,2,37,1373,2,1,4,92,1,2090,2396,...,1,0,0,0,1,0,0,0,1,0
3,3,33,1392,3,1,5,56,1,2909,23159,...,1,0,1,0,0,0,0,0,1,0
4,4,27,591,2,1,7,40,1,3468,16632,...,1,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1465,36,884,23,1,2061,41,2,2571,12290,...,1,0,1,0,0,0,0,0,1,0
1466,1466,39,613,6,1,2062,42,3,9991,21457,...,1,0,0,1,0,0,0,0,1,0
1467,1467,27,155,4,1,2064,87,2,6142,5174,...,0,1,0,0,1,0,0,0,1,0
1468,1468,49,1023,2,1,2065,63,2,5390,13243,...,1,0,0,0,0,1,0,0,0,1
1469,1469,34,628,8,1,2068,82,2,4404,10228,...,1,0,0,1,0,0,0,1,0,0